on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Set up Go 1.2
      uses: actions/setup-go@v3
      with:
        go-version: ^1.15
      
    - name: Test
      run: go test -v ./...
